<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Luis Fernando Armas Perez</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="icon" href="../static/Images/Logo.ico"> <!-- El siguiente codigo le agrega un icono a la pestaña -->
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/Css/Proyectos.css">

  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg fixed-top bg-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="../template/PrincipalPage.html"> 
              <img src="../static/Images/Logo.ico" alt="" width="30" height="24"> <!-- Este codigo le agrega un icono a la barra NAV -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> Menú
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../template/index.html">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../template/PrincipalPage.html">About me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../template/Proyectos.html">Proyectos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../template/Blog.html">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../template/Contactame.html">Contactame</a>
                </li>
              </ul>
            </div>
            <form class="d-flex" role="">
              <a href="../template/iniciarSesion.html" class="btn btn-outline-success">Iniciar sesión</a>
            </form>
          </div>
        </nav>
        <br>
        <br>
  </header>

<main>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <!-- This code is the firts proyect, tgis is my portafolio-->
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <h1>Proyecto Portafolio</h1>
              <p class="card-text">Este es el proyecto de mi propio portafolio, aqui vas a encontrar el proceso de como lo realicé, además de técnicas de desarrollo web como HTML, CSS, JAVASCRIP, GIT, MySql JAVA POO, SPRING, JUNIT.</p>
              <p class="card-text">Además te comparto mi codigo en GITHUB para que lo puedas visualizar o utilizar.</p>
              <br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver detalles del proyecto</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="../static/Images/Logo il merletto2.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

            <div class="card-body">
              <h1>Proyecto para compañia</h1>
              <p class="card-text">Es uno de mis primeros trabajos realizados, aqui encontrarás una descripción de algunos problemas resueltos que tenia la empresa referente a su pagina web y una propuesta de desarrollo.</p>
              <br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Ver detalles del proyecto</button>
                  <button class="btn btn-sm btn-outline-secondary" type="submit" onclick="window.open('https://ilmerletto.com/')">Ir a ilMerletto</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Go to Top -->
  <div class="go-top-container">
    <div class="go-top-button">
      <i class="bi bi-arrow-up-square-fill">
        <img src="../static/Images/Logo BackToTop.png" alt="" width="60" height="60">
      </i>
      
    </div>
  </div>

</main>

<!-- FOOTER -->
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    
    <div class="col-md-4 d-flex align-items-start justify-content-start mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <form>
        <h5>Luis Fernando Armas Perez</h5>
        <p>Java Developer</p>
        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
           <!-- <button class="btn btn-primary" type="button">Contactame</button> --> 
          <a href="../template/Contactame.html" class="btn btn-primary">Contactame</a>
        </div>
      </form>
    </div>

    <a href="../template/PrincipalPage.html" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../static/Images/Logo.ico" class="bi me-2" width="40" height="32"><use xlink:href="#"/></img>
    </a>

    <ul class="nav col-md-4 justify-content-end">

      <a href="https://www.linkedin.com/in/luis-fernando-armas-perez-6aa0801ab/" target="_blank" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <nav class="nav-link" href="#"><img src="../static/Images/Logo LinkeIn.png" alt="" width="24" height="24"></nav>
      </a>
      
    </ul>
  </div>
  </footer>

    <script src="../static/JavaScrip/gotop.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  </body>
</html>